
.error {
	color:red!important;
}
.redColor{
	color:red;
}
.lbl-require{
	color:red;
	margin:0px 3px;
	vertical-align: middle;
}
.navbar-brand{
	background: url("../images/alert_logo.png") no-repeat;
	background-size: contain;
    width: 87px;
    height: 40px;
    margin: 20px 20px 0 20px;
}
.logo{
	background: url("../images/logo_oneapm.png") no-repeat;
	width:63px;
	height: 40px;    
	margin: 5px 0px 0 25px;
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover {
    border-bottom:0px solid transparent;
    /*color: #25c151;*/
    background-color: transparent;
}
a.active {
	color: #25c151!important;
}
#top_nav > li > a{
	padding-top: 20px;
	padding-bottom: 20px;
}
.light-black {
	color:#474444;
}
.closed-green ,.closed-green:hover {
	color:#66CC00 !important;
	cursor:not-allowed !important;
}
.acked , .acked:hover {
	color:#42A8EF !important;
	cursor:not-allowed !important;
}
.fa-small {
	font-size: 12px;
	transform:scale(0.5);
	margin-right: 10px;
}
.warn-waiting{
	color:#FE3B39;
}
.warn-doing{
	color:#EE7841;
}
.warn-done{
	color:#62BA04;
}
.warn-important {
	background-color:#ff3a3a;
	color:white;
}
.warn-important.active,.warn-important:hover ,.warn-important:focus,.warn-important:visited {
	background-color:#e53434;
	color:white;
}
.warn-warned {
	background-color:#ef7742;
	color:white;
}
.warn-warned.active,.warn-warned:hover ,.warn-warned:focus,.warn-warned:visited {
	background-color:#d76b3b;
	color:white;
}
.warn-alert {
	background-color:#42a8ef;
	color:white;
}
.warn-alert.active, .warn-alert:hover ,.warn-alert:focus,.warn-alert:visited {
	background-color:#3b97d7;
	color:white;
}
.wechat {
	position:fixed;
	top:455px;
	left:10px;
	width:160px;
	height:155px;
	background:url('../images/wechat.png') no-repeat;
}
.wechat span {
	position: relative;
    top: 106px;
    left: 10px;
    color: white;
}
.content{
	padding:0 5px;
}
.leftContent{
	background-color:#ffffff;
	overflow:hidden;
	border: 1px solid #d9d9d9;
	min-height:493px;
}
.rightAside{
	background-color:#f9f9f9;
	min-height:510px; 
	min-width:250px;
	padding:55px 10px;
	border:1px solid #d9d9d9;
}
.img-responsive{
	margin:0 auto;
}
.rightAsideContent.img-responsive{
	padding-bottom:30px;
}
.rightAsideContent p{
	padding:20px;
}
.rightAsideContent ul{
	padding:0 20px;
}
.rightAsideContent ul li{
	font-size:12px;	
}
.rightAsideContent ul li span{
	display:block;
	color:#999999;
	padding-top:5px;
	padding-bottom:10px;
}

input.error,button.error,select.error,div.error { 
	border: 1px solid red; 
}
.nodata-p{
	margin-left:10px;
	color:red;
	font-size:16px;
}
.pos-relative{
	position:relative
}
.dis-inlineBlock{
	display:inline-block;
	vertical-align:top;
}
.no-outline, .no-outline:focus, .no-outline:hover{
	outline:none;
}
.curs-pointer{
	cursor:pointer;
}
/* 工具条中操作按钮 */
.btn-banner-oper{
	line-height:19px;
	padding: 0 12px;
}
/*红色超链接 */
.btn-red-link:link, .btn-red-link:visited {
    color: #e66b19;
    text-decoration: none;
    outline: none;
}
/*蓝色超链接 */
.btn-blue-link:link, .btn-blue-link:visited {
    color: #30b0e7;
    text-decoration: none;
    outline: none;
}
/*绿色超链接 */
.btn-green-link:link, .btn-green-link:visited{
	color: #62ba04;
	text-decoration:none;
	outline:none;
}
.btn-green-link:hover {
	color: #54A003;
	text-decoration:none;
	outline:none;
}
.btn-green-link:active {
	color: #62ba04;
	text-decoration:none;
	outline:none;
}	
/* 灰色操作链接 */
.grey {
	color:#B3B2B2;
	cursor:pointer;
}
.grey:hover {
	color:#474444;
}
/*灰色取消按钮 */
.btn-gray-cancel, .btn-gray-cancel:link, .btn-gray-cancel:visited{
	background-color: #999999;
	color:#ffffff;
}
.btn-gray-cancel:hover{
	background-color: #666666;
	color:#ffffff;
}
.btn-gray-cancel:active {
	background-color: #999999;
	color:#ffffff;
}
/* 绿色操作按钮 */
.btn-success, .btn-success:link, .btn-success:visited{
	background-color: #98CF4D;
	color:#ffffff;
	border-color:#98CF4D;
}
.btn-success:hover{
	background-color: #6CBA00;
	color:#ffffff;
	border-color:#6CBA00;
}
.btn-success:active {
	background-color: #98CF4D;
	color:#ffffff;
	border-color:#98CF4D;
}
/* 红色操作按钮 */
.btn-redDel, .btn-redDel:link, .btn-redDel:visited{
	background-color: #F77371;
	color:#ffffff;
	border-color:#F77371;
}
.btn-redDel:hover{
	background-color: #F43733;
	color:#ffffff;
	border-color:#F43733;
}
.btn-redDel:active {
	background-color: #F77371;
	color:#ffffff;
	border-color:#F77371;
}
/*小按钮*/
.btn-mini{
	height:28px;
	line-height:26px;
	padding:0 10px;
}
/*浅色描述字体颜色 */
.colorDes{
	color:#9C9C9C;
}
/*绿色字体 */
.colorGreen{
	color:#62BA04;
}
.divider {
    height: 0px;
    overflow: hidden;
    background-color: #1B2633;
}
.alarm_active , .alarm_ack , .alarm_closed, .alarm_resolved, .my_situation_num, .all_situation_num{
    float: right;
    border-radius:4px;
    padding: 0px 10px;
    background-color:#18232F;
    border: 1px solid #25c151;
}
/*layout布局*/
.ivu-layout{
	height: 100%;
}
.layout {
	height: 100%;
}
.ivu-layout-sider{
	margin-top: 56px;
}
li.ivu-menu-submenu {
    position: relative;
    display: block;
    float: left;
    color: #9EA1A3;
    width: 100%;
    padding-right: 10px;
}
.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item {
    display: block;
    padding: 13px 15px 15px 27px!important;    
    text-decoration: none;
    color: #d9d9d9;
    height: 40px;
    margin: 0px!important;
    font-size: 13px;
}
.ivu-menu-item:hover {
    color: #25c151;
}
li.ivu-menu-item:hover {
    color: #25c151!important;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
    color: #2d8cf0;
    background: #293543;
    z-index: 2;
    color: #25c151!important;
    position: relative;
    left: -1px;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after {
    content: '';
    display: block;
    width: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #293543!important;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu)>a{
    color: #25c151!important;
}
.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-vertical .ivu-menu-submenu-title:hover {
    color: #25c151!important;
}
.ivu-menu-submenu-title {
    height: 40px;
    padding: 14px 1px!important;
}
.ivu-menu-submenu-title span>i, .ivu-menu-submenu-title>i {
	margin-right: 0px!important;
	position: relative;
    right: 12px;
    top: -2px;
}
.ivu-menu-submenu-title-icon {
    display: none;
}
.ivu-layout-sider {
    background: rgb(245, 247, 249)!important;
    width: auto!important;
    min-width: 160px!important;
    max-width: 200px!important;
    flex: 0 0 160px!important;
}
input, button {
	outline: none;
}
.side-nav .iconfont {
	font-size: 12px;
}
#page-wrapper {
	padding: 30px 20px 20px;
}
.main-overview{
	width: 100%;
	height: 275px;
	border-radius: 8px;
	background-color: #ffffff;
	padding: 20px;
	font-size: 0px;
	margin-bottom: 20px;
}
.group-title {
	height: 20px;
	line-height: 20px;
	padding-left: 10px;
	border-left: 2px solid #2fbc59;
	color: #2fbc59;
	font-size: 20px;
	letter-spacing: 2.4px;
	float: left;
}
.content-link {
	font-size: 16px;
    float: right;
}
.main-content {
	padding-top: 100px;
	text-align: center;
}
.main-content > span {
	font-size: 34px;
	letter-spacing: 4.1px;
	text-align: center;
	color: #434343;
}
.main-content > button {
	width: 100px;
	height: 50px;
	border-radius: 5px;
	background-color: #2fbc59;
	font-size: 24px;
	letter-spacing: 2.9px;
	text-align: center;
	color: #fffefe;
	margin-top: -24px;
	margin-left: 40px;
}
.main-list {
	padding: 26px 20px;
	width: 100%;
	height: 700px;
	border-radius: 8px;
	background-color: #ffffff;
}
.group-search {
	float: left;
	font-size: 0px;
	margin-top: -5px;
    margin-left: 37px;
}
.group-search > span{
	font-size: 16px;
	letter-spacing: 1.9px;
	color: #757575;
}
.font-temp {
	margin: 0 9px;
	font-size: 14px!important;
	letter-spacing: 1.7px;
	color: #878787!important;
}
.searchType {
	margin-left: 60px;
}
.search-btn {
	margin-left: 40px;
	width: 70px;
	height: 30px;
	border-radius: 5px;
	border: solid 1px #2fbc59;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 1.7px;
	color: #2fbc59;
	background: #fff;
}
.group-search input, .group-search select {
	display: inline;
	width: 120px;;
}

.search-result {
	margin-top: 50px;
    border-top: 1px solid #f4f4f4;
}
.content-table thead, .user-table thead {
	font-size: 16px;
	letter-spacing: 1.9px;
	color: #939393;
	border-top: 0px;
	font-weight: inherit;
}
.content-table>thead>tr>th, .user-table>thead>tr>th {
	border-bottom:0px!important;
	height: 55px;
	line-height: 55px;
	padding: 0px;
	text-align: center;
}
.content-table>tbody, .user-table>tbody{
    border: solid 1px #e5e5e5;
}
.content-table>tbody>tr>td, .user-table>tbody>tr>td{
	font-size: 14px;
	letter-spacing: 1.7px;
	text-align: center;
	color: #5c5c5c;
	height: 40px;
	line-height: 40px;
	padding: 0px;
	vertical-align: middle;
}
.content-table>tbody>tr:nth-of-type(odd), .user-table>tbody>tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}
.endTime, .starTime {
    padding: 0px 10px;
}
 .content-table  a{
 	color:#30b0e7;
 }
 .onSelect {
	background-color: #2fbc59!important;
	color: #fff!important;
	border: 0px!important;
}
.selectedImg {
	color: #2fbc59!important;
}
.tip-txt {
	font-size: 14px;
	letter-spacing: 1.7px;
	color: #cfcfcf;;
}
.tip-txt a{
	color: #30b0e7;
}
.more-action {
    margin-top: 20px;
    height: 80px;
    line-height: 80px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 0px 40px;
}
.selectTxt {
	font-size: 16px;
	letter-spacing: 1.9px;
	color: #2fbc59;
}
.selectPrice {
	font-size: 18px;
	letter-spacing: 2.2px;
	color: #e66b19;
}
.doBuy {
	width: 120px;
	height: 50px;
	border-radius: 2px;
	background-color: #e66b19;
	cursor: pointer;
	font-size: 16px;
	letter-spacing: 1.9px;
	text-align: center;
	color: #ffffff;
}

.disabledBtn{
    background: #ddd!important;
    color: #ccc!important;
    cursor: no-drop!important;
}

.payMoney {
	color: #e35b00!important;
}

.activeDes{
    text-align: center;
    font-size: 14px;
	background: #ff9999;
    padding: 20px;
    width: 530px;
    margin: 15px auto 0;
    border-radius: 8px;
    color: #fff;
}
@CHARSET "UTF-8";
/*共同按钮的样式  */
.btn-common {
	background-color: #98CF4D;
	color:#fff!important;
	height: 30px;
	padding: 0 10px;
	border-color:transparent;
	margin-left: 40px;
	border-radius: 3px;
}
.btn-common:hover {
	background-color: #6CBA00;
	border-color: transparent!important;
}
#page-wrapper {
	color:#434343;
}
.container-fluid {
	padding-left: 10px;
	padding-right: 0px;
}
.padding0 {
	padding-left: 0px;
	padding-right: 0px;
}
.breadcrumb {
	margin-bottom: 10px;
}
.bg {
	background-color: #fff;
	border: 1px solid #d9d9d9;
}
.header {
	border-bottom: 1px solid #d9d9d9;
	padding: 15px 20px;
}
.timeValue {
	height: 20px;
	line-height: 20px;
	padding: 2px 5px;
	margin: 0 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	display: inline;
}
.timeValue.selected {
	color:#fff!important;
}
.btnActive {
	background-color: #54A003;
	color: #fff;
}
.btnNotActive {
	color:#434343;
}
.btnNotActive:hover {
	color:#54A003;
}
.queryTime > span {
	color: #ccc;
}
.row {
	margin-right: 0px;
	margin-left: -10px;
}
.endTime,
.starTime {
    padding: 0px 25px;
  	height: 30px;
}
.fa {
	cursor: pointer;
}
.display-inline {
	display: inline!important;
}
.width-150 {
	width: 170px;
}
.pointer {
	cursor: pointer;
}
.footer {
	padding: 0 20px;
}
.footer-left {
	padding-top: 20px;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #757574;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #62BA04;
  border-color: #62BA04;
}
.margin-right-23 {
	margin-right: -23px;
}
.margin-left-23 {
	margin-left: -23px!important;
}
.timeFree {
	margin-left: 5px;
}
.form-control[disabled]{
	background-color: #fff;
}
.licenseTypeFree {
	color: #ccc;
}
.input-height-30 {
	height: 30px;
}
.selected-text {
	left: 11px;
    position: absolute;
}
.dropdownMenuBtn {
	text-align: right;
	padding: 0px 10px;
}
.content-table thead {
	color: #999;
	border-top: 1px solid #d9d9d9;
}
.tableDiv thead > tr > th,
.content-table thead > tr > th {
	padding: 2px 8px;
	border-bottom: 0px;
	font-weight: normal;
}
.width-120 {
	width: 120px;
}
.pointer-default {
	cursor: default;
}
.light-color {
	color:#999;
}
.glyphicon-search:hover {
	color: #434343;
}
.text-center {
	text-align: center;
}
.loadingImg {
	text-align: center;
	display: none;
}
.footer-right  {
	height: 87px;
}
/*å³è¾¹å¸¸è§é—®é¢˜å…±åŒæ ·å¼  */
.link-a {
   color: #6CBA00;
 }
 .link-a:hover {
   color: #54A003;
   text-decoration: none;
   cursor: pointer;
 }

.rightAside {
	border:1px solid #d9d9d9;
	padding: 55px 15px;
}
.rightAsideContent > p{
	color: #868686;
	text-indent: 2em;
	font-size: 13px;
	padding: 10px 0px;
	line-height:2;
}
.question-list {
	margin-top: 40px;
}
.question-list > span {
	color: #434343;
	font-size: 15px;
}
.question-list .row {
  border-top: 1px solid #ccc;
  padding: 15px 0px;
  font-size: 13px;
 	margin-left: 0px;
    margin-right: 0px;
}
.question-list .row > div {
	padding-left: 10px;
}
.question-list .row:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}
.answer-list {
	padding: 17px 25px;
 	font-size: 13px;
 	line-height:2;
	background-color: #f0f0f0;
	color: #868686;
	display: none;
	word-break: break-all;
	text-indent: 2em;
}
.answer-list p {
	padding: 0px;
}
/* ±êÌâ¼°ÇÐ»»×´Ì¬ÑùÊ½²¹³ä */
.rightAsideContent h5{
	text-align:center;
	margin-top:-30px;
	margin-bottom:10px;
}
.question-list .fa-angle-right{
	font-size:18px;
}
.question-list>div>div>span{
	margin-right:10px;
}
@-webkit-keyframes rotate-img-down {
	0%{
    -webkit-transform:rotate(0deg);
   }
   100%{
     -webkit-transform:rotate(90deg);
   }
}

@keyframes rotate-img-down {
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(90deg);
	}
}
@-moz-keyframes rotate-img-down{
  0%{
    -moz-transform:rotate(0deg);
   }
   100%{
    -moz-transform:rotate(90deg);
   }
}

@-webkit-keyframes rotate-img-up {
	0%{
    -webkit-transform:rotate(90deg);
   }

   100%{
     -webkit-transform:rotate(0deg);
   }
}

@keyframes rotate-img-up {
	0%{
    transform:rotate(90deg);
   }
   100%{
     transform:rotate(0deg);
   }
}
@-moz-keyframes rotate-img-up{
	0%{
    -moz-transform:rotate(90deg);
   }
   100%{
     -moz-transform:rotate(0deg);
   }
}
.owmMulti{
	display:inline-block;
}
.owmMulti .btn-group{
	width:100%;
}
.owmMulti .multiselect {
	width:100%;
	text-align:right;
	margin-top:0;
}
.owmMulti ul {
	width:100%;
}
.owmMulti .multiselect-selected-text {
	position:absolute;
	left:0;
	right:25px;
	text-align:left;
	padding-left:20px;
}
.owmMulti .multiselect-container li.odd {
    background: #eeeeee;
}